<!DOCTYPE HTML>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css"/>
    <title> Карточка читателя</title>
    {% import "macros.html" as macros %}
</head>
<body>

<div class=menu>
    <ul>
        <li class=active><a href={{url_for("index")}}>Читатель</a></li>
        <li><a href=>Книги</a></li>
        <li><a href=>Статистика</a></li>
    </ul>
</div>

<div class=block>
    <form action="" method="get">
        Читатель:
        {{ macros.render_form(combo_box, reader_id, len) }}
        <input type="submit" value="Найти">
    </form>

   <form action="{{url_for('new_reader')}}" method="get">
        <p><input type="submit" value="Новый читатель"></p>
   </form>

    {{ macros.render_table("Карточка", book_reader, "book_reader_id", len) }}

    <form action="{{url_for('search')}}" method="get">
        <p><input type="submit" value="Взять книгу"></p>
    </form>
</div>

</body>
</html>
